In [1]:
notes = 5
i = 1
while i < notes:
    print(i)
    i += 1
else :
    print("No 10 rs notes are available")

1
2
3
4
No 10 rs notes are available

In [4]:
a = "my name is animesh"
a

'my name is animesh'

In [5]:
a[0]

'm'

In [6]:
a[3:10]

'name is'

In [7]:
a[3:10:2]

'nm s'

In [8]:
a[10:3:-1]

' si ema'

In [9]:
a[::-1]

'hsemina si eman ym'

In [10]:
a[2:-6]

' name is a'

In [13]:
for i in a :
    if i == "s":
        print("i got s string")
    print(i)

m
y

n
a
m
e

i
i got s string
s

a
n
i
m
e
i got s string
s
h

In [14]:
for i in a :
    print(i)
else:
    if i == 'h':
        print("last char is h")
    print("this is an else condition")

m
y

n
a
m
e

i
s

a
n
i
m
e
s
h
last char is h
this is an else condition

In [15]:
for i in a :
    if i == "n":
        continue
    print(i)
else:
    if i == 'h':
        print("last char is h")
    print("this is an else condition")

m
y

a
m
e

i
s

a
i
m
e
s
h
last char is h
this is an else condition

In [16]:
for i in a :
    if i == "n":
        break
    print(i)
else:
    if i == 'h':
        print("last char is h")
    print("this is an else condition")

m
y

In [17]:
s = "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss=ss + s[i]

In [18]:
ss

'ieuro'

In [19]:
n = 7
for i in range(0, n):
    for j in range(0, i + 1):
        print("+ " , end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [30]:
n=7
for j in range(0):
    print(j, end="")
    #print("+ ", end ="")

In [32]:
n = int(input('Enter number of rows required:  '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='')
    
    for j in range(2*i-1):
        print('*', end='')
    print()

Enter number of rows required:  7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [33]:
l = list()
#Hold homogeneous and heterogeneous data

In [34]:
 l = ["animesh", 123456, "india"]

In [35]:
l

['animesh', 123456, 'india']

In [36]:
l[0]

'animesh'

In [37]:
l[1]

123456

In [38]:
l[2]

'india'

In [39]:
type(l)

list

In [40]:
l2 = list()

In [41]:
l2 = ["ani", 123, 2 +2j, [1,2,3]]

In [42]:
l2

['ani', 123, (2+2j), [1, 2, 3]]

In [43]:
for i in l2:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'complex'>
<class 'list'>

In [44]:
for i in l2:
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>

In [45]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print()